extends layout

block body
  section.hero
    h1 Support ain't about money.
    h2.
      There are at least #[strong !{nWidgets}] ways you can help without spending a dime.
    ul.list-inline
      li: a(href='#examples').button Examples
      li: a(href='/create').button Create a page
  section.section
    .container
      h3#examples Examples
      ul
        for project in projects
          li: a(href='/support/' + project.slug) !{project.name}, !{project.slogan}
  section.section
    .container
      h3#contribute Contribute
      p This project is open source, adding widgets is easy as cake.
      ul
        li: a(href='https://github.com/zhouzi/cheerladders') GitHub repository
        li: a(href='https://github.com/zhouzi/cheerladders/issues') Report an issue/Suggest a feature
