doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Cheerladders - Support ain't about money
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans:400,700|Passion+One')
    link(rel='stylesheet', href='/assets/normalize.css')
    link(rel='stylesheet', href='/assets/styles.css')
  body
    block body
    footer.footer
      .container
        .footer-content
          .footer-content__left
            ul.list-inline
              li: a(href='/') Home
              li: a(href='/create') Create a page
              li: a(href='https://github.com/zhouzi/cheerladders') GitHub repository
          .footer-content__right.
            Side project by #[a(href='http://gabinaureche.com') Gabin Aureche]
