*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.4;
  color: #2f2b42;
  padding: 0.5rem;
}

h1,
h2,
h3,
p,
ul,
ol,
li {
  margin: 0 0 0.5rem 0;
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3 {
  line-height: 1.2;
  font-weight: bold;
}

h1 {
  font-family: 'Passion One', cursive;
  font-size: 3.4rem;
}

h1 + h2 {
  font-size: 1.2rem;
  font-weight: normal;
  margin-bottom: 2rem;
}

h2 strong {
  color: #655af9;
}

h3 {
  font-size: 1.2rem;
  text-transform: uppercase;
}

a,
.link {
  cursor: pointer;
  color: #655af9;
  text-decoration: none;
}

a:focus,
a:hover,
.link:focus,
.link:hover {
  color: #2f2b42;
  text-decoration: underline;
}

[disabled] {
  opacity: 0.6;
  pointer-events: none;
}

small {
  font-size: 0.8rem;
}

.list-inline {
  padding: 0;
  margin: 0;
  list-style: none;
}

.list-inline li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0.5rem 0 0;
}

.hero {
  padding: 6rem 1rem;
  text-align: center;
  background-color: #f9e65a;
}

.hero h1 {
  margin-bottom: 0;
}

.section {
  padding: 2rem 1rem;
}

.section--background {
  background-color: #eaeaea;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.container--large {
  max-width: 800px;
}

.lead {
  font-size: 1.2rem;
  font-style: italic;
  padding: 2rem 0;
  margin: 0;
}

.button,
.input {
  padding: 0.8rem 1rem;
  font: inherit;
  border-radius: 4px;
  border: 2px solid transparent;
}

.input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #eaeaea;
}

select.input {
  cursor: pointer;
  background-image: url('/assets/arrow.svg');
  background-size: 1.4rem;
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
}

.button {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  background-color: #655af9;
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.button:focus,
.button:hover {
  color: #fff;
  text-decoration: none;
  background-color: #2f2b42;
}

.footer {
  font-size: 0.8rem;
  padding: 1rem;
}

.footer__container {
  padding-top: 0.5rem;
  border-top: 1px solid #eaeaea;
}

@media (min-width: 600px) {
  .footer-content {
    display: table;
    width: 100%;
  }

  .footer-content__left,
  .footer-content__right {
    display: table-cell;
    vertical-align: middle;
  }

  .footer-content__left {
    width: 100%;
  }

  .footer-content__right {
    white-space: nowrap;
  }
}

.widget-form {
  margin: 0 -0.5rem 1rem -0.5rem;
}

.widget-form::before,
.widget-form::after {
  content: '';
  display: table;
  clear: both;
}

.widget-form__input,
.widget-form__button {
  float: left;
  padding: 0 0.5rem;
}

.widget-form__input .input,
.widget-form__button .button {
  display: block;
  width: 100%;
}

.widget-form__input {
  width: 70%;
}

.widget-form__button {
  width: 30%;
}

.widget-wrapper,
.widget-wrapper iframe {
  display: inline-block;
  vertical-align: bottom;
}

.widget-wrapper {
  margin-left: 0.5rem;
}

.features {
  text-align: center;
}

.features__item {
  margin-bottom: 1rem;
}

.features__emoji {
  width: 80px;
  height: auto;
  display: block;
  margin: 0 auto 1rem auto;
}

.round {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #dadada;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}

.table-layout__master,
.table-layout__slave {
  display: block;
}

.table-layout__master:first-child {
  margin-bottom: 0.5rem;
}

.table-layout__master:last-child {
  margin-top: 0.5rem;
}

@media (min-width: 800px) {
  .features {
    display: table;
    width: 100%;
    table-layout: fixed;
    margin: 0 -0.5rem;
  }

  .features__item {
    display: table-cell;
    vertical-align: top;
    padding: 0 0.5rem;
  }
}

.alert {
  padding: 1rem;
  background-color: #f9e65a;
}
